@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

body > * {
    padding-right: 15%;
    padding-left: 15%;
}

.top-section, footer{
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

h1, .logo{
    color:#F9FAF8;
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

li > a, .top-section p{
    color: #E5E7EB;
} 

h1{
    font-size: 48px;
    font-weight: 800;
    margin-top: 0cm;
}

.logo{
    font-size: 24px;
    margin-right: auto;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.content-and-image{
    display: flex;
    gap: 24px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image{
    display: flex;
}

.image > img{
    max-width:  100%;
    height: auto;
}

.top-button{
    background-color: #3882F6;
    padding: 12px 30px;
    border-radius: 8px;
    border: 4px;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer p{
    color: #E5E7EB;
    font-size: 18px;
}

.information{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 72px;
}

.information-title{
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
}

.information-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.img-group{
    max-width: 240px;
    color: #1F2937;
}

.img-group > img{
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    object-fit: none;
    object-position: center;
    margin-bottom: 8px;
}

.quote{
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #E5E7EB;
}

.block-quote, .quote-source{
    color: #1F2937;
}

.block-quote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-source{
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.cta-box{
    padding: 36px 72px;
    flex: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.cta-text{
    margin-right: auto;
}

.cta-button{
    background: none;
    padding: 12px 30px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
}



